*{
    margin: 0;
    padding: 0;
}
body{
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 100px;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 15px;

}
h3{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
}
.count-container{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.time{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:1px solid #fff;
}
h4{
    font-size: 40px;
    color: #fff;
}
p{
    color: #fff;
    font-size: 30px;
    font-style: italic;
}